<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Семантика</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="container">
		<header class="header">header</header>

		<nav class="nav">nav</nav>


		<section class="main__section">
			<aside class="aside-box">aside
				<figure class="aside-box__figure">figure
					<div class="aside-box__img">img</div>
				</figure>
			</aside>

			<main class="main-box">main
				<section class="main-box__section"><span>section</span>
					<div class="main-box__btn">button</div>
				</section>
				<article class="main-box__article">article</article>
			</main>
		</section>

		<footer class="footer">footer</footer>
	</div>
</body>

</html>